@import url('https://fonts.googleapis.com/css?family=Oswald:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:700&display=swap');
@import "./variables";
@import "./reg";
@import "./ultis";

@mixin properCentered {
    display: flex;    
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.authlogo{
    position: absolute;
    z-index: 2;
    margin: 0px auto;
}

@mixin shadow {
-webkit-box-shadow: 0px 12px 24px -9px rgba(0,0,0,0.75) !important;
-moz-box-shadow: 0px 12px 24px -9px rgba(0,0,0,0.75) !important;
box-shadow: 0px 12px 24px -9px rgba(0,0,0,0.75) !important;
}


.modal-content{
@include properCentered()    
}
.btn-register{
    height: content-box;
    width: fit-content;
    background-color: dodgerblue !important;
    padding: 6px;
}

.H5{
    margin: 0px;
    font-family: 'Oswald', sans-serif;
    color: $seccolor;      
    
}

.label-personnel>span{
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    color: rgba(9, 58, 91, 0.29);
}
.choosen{
    font-family: "Oswald", sans-serif;
    font-size: 25px !important;
    padding: 5px;
    color: #8b1e1d !important;
    text-shadow: #a12e2e;
    text-decoration:underline;
}
.doctorchoosen{
    font-family: "Oswald", sans-serif;
    font-size: 25px !important;
    padding: 5px;
    color: #1a519a !important;
    text-shadow: #0D47A1 ;
    text-decoration:underline;
}
.mNav{
    @include shadow();
    background-color: #fefefe !important;
    padding-left: 25px;
    padding-right: 25px;


}
.form-header{
    background-color:$deepcolor;
    height: 50px;
    width: 200px;
    display: flex;    
    justify-content: center;
    align-items: center;
    margin-top: -70px;
    border-radius: 10px;
    @include shadow();
    
    
}
.formcontainer{
   @include properCentered();
    background-image: url('img/bg1.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}


.form {
    @media screen and (max-width: $iphoneX) {
        width: inherit !important;
        max-width: 480px !important;
    }

    @media screen and (min-width: $andriodT) {

    }


    width: 480px !important;
    padding: 40px !important;
    @include shadow();
  }
 

  .btnCenter{
   text-align: center;
  }

  .btn{
      background-color: #094683 !important;
      color: aliceblue !important;
      font-family: 'Oswald';
     
  }


  